/* src/pages/ProductDetailPage.css */
/* ... otros estilos ... */

.product-detail-price {
  /* ... */
  /* Cambiamos el color del precio */
  color: #e84393;
  margin-bottom: 1.5rem;
}

.btn-add-to-cart {
  /* Cambiamos el color del botón principal */
  background-color: #ff7eb9;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.btn-add-to-cart:hover {
  background-color: #e84393; /* Un tono más oscuro al pasar el mouse */
}