/* src/App.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Un color de fondo suave que combina con la tienda de dulces */
  background-color: #f8f4f4;
}

main {
  /* Centra el contenido principal y le da un ancho máximo */
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}